 </div>
        <footer class="footer">
          <div class="col-md-12">
          <div class="container">
            <p class="text-muted">&copy; Glory Moment 2020 | <a href="/">HOME</a> | <a href="mailto:mark.ycchen.7@gmail.com">Contact Us</a></p>
          </div>
          </div>
        </footer>
    </body>
</html>
