<%- include("partials/header") %>
<div class="row">
	<div class="col-md-12">
		<form action="/reset/<%= token %>" method="POST">
		  <legend>This Process Will Allow You To Complete The Password Reset</legend>
		  <div class="form-group">
		    <label for="password">New Password</label>
		    <input type="password" name="password" value="" placeholder="" autofocus="autofocus" class="form-control"/>
		  </div>
		  <div class="form-group">
		    <label for="confirm">Confirm New Password</label>
		    <input type="password" name="confirm" value="" placeholder="" class="form-control"/>
		  </div>
		  <div class="form-group">
		    <button type="submit" class="btn btn-primary">Confirm</button>
		  </div>
		</form>
	</div>
</div>
<%- include("partials/footer") %>
