<%- include("../partials/header") %>

    <div class="row">
        <h1 style="text-align: center;color:#3373FF">My New Journey</h1>
        <div style="width: 30%; margin: 35px auto;">
     
                <div class="form-group">
                    <label for="name">Where<span style="color:red;"> *</span></label>
                    <input class="form-control" type="text" name="name" placeholder="Anywhere" required>
                </div>
                <div class="form-group">
                    <label for="image">Image URL<span style="color:red;"> *</span></label>
                    <input class="form-control" type="url" name="image1" placeholder="At least one photo" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="url" name="image2" placeholder="Add more images" >
                </div>
                <div class="form-group">
                    <input class="form-control" type="url" name="image3" placeholder="Add more images" >
                </div>
                <div class="form-group">
                <label for="location">Location<span style="color:red;"> *</span></label>
                <input class="form-control" type="text" name="location" id="locationTextField" placeholder="Yosemite National Park, CA" required>
                </div>
                <div class="form-group">
                <label for="cost">Cost<span style="color:red;"> *</span></label>
                <input class="form-control" type="text" name="cost" placeholder="At most 6 number" maxlength="6" required>
                </div>
                <div class="form-group">
                    <label for="description">Description<span style="color:red;"> *</span></label>
                    <textarea class="form-control" type="text" id="userInput" onkeyup="wordsTotal()" onkeydown="if (this.value.length >=1000) {return false;}" name="description" rows="10" cols="50" placeholder="At most 1000 characters" required></textarea>
                    <br>
                    You Have <span id="display">1000</span> Characters Left.
                </div>
                <P>
                All<span style="color:red;"> * </span>are required
                </P>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block" onclick="this.disabled=true; form.submit();">Submit</button>
                </div>
            </form>
            <a href="/campgrounds">Back</a>
        </div>
    </div>
    
    <script type="text/javascript">
        function wordsTotal() {   
        var total = document.getElementById('userInput').value.length;
        document.getElementById('display').innerHTML = 1000-total;
        }
    </script>
    
<%- include("../partials/footer") %>

