    body {
    background-size: cover;
    background-position: center; 
    transition: background 26s linear;
    -webkit-backface-visibility: hidden;
    webkit-transition: background-image 2.5s linear;
    -webkit-transform:translate3d(0,0,0);
}

.bg {
    position: absolute;
    top: 55px;
    bottom: 40px;
    left: 20px;
    right: 30px;
}

body,
html {
    width: %;
    height: 110%;
    /*font-family: "Lato";*/
    color: white;
}

h1 {
	font-weight: 900;
	font-size: em;
}


.content{
	padding-top: 30%;
/* 	text-align: center; */
}

.content h1, .content h3{
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0.5,0.2);
}
